

.header
{
    
    color: aliceblue;
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    
}
#wordweb{
    
    font-family:'Roboto Mono';
    font-size: 100px;
    position: relative;
    justify-content: center;
    align-items: center;
    
}


@media(min-width:1400px)
{
    #wordweb
    {
        font-size: 110px;
    }
}